#content {
  padding: 120px 60px;
}
#login-content {
    padding: 14px 16px;
    height: auto;
    background-color: white;
  }
  @media (max-width: 800px) {
    #login-content {
      width: 100%;
      margin: auto;
    }
    #content {
      padding: 50px 14px;
}
}
@media (min-width: 800px) {
    #login-content {
      width: 65%;
      margin: auto;
    }
}

#login-content input {
  background-color: white;
  padding: 8px 8px;
  width: 100%;
  outline: none;
}

