#content {
  padding: 120px 60px;
}
#login-content {
    padding: 14px 16px;
    height: auto;
  }
  @media (max-width: 800px) {
    #login-content {
      width: 100%;
      margin: auto;
    }
    #content {
      padding: 50px 14px;
}
}
@media (min-width: 800px) {
    #login-content {
      width: 65%;
      margin: auto;
    }
}

#login-content input {
  padding: 18px 16px;
  width: 100%;
  outline: none;
  background-color: rgb(245, 245, 245);
  border: solid rgb(245, 245, 245) 4px;
}

#login-content a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 14px 16px;
  width: 50%;
  margin: auto;
  background-color: rgb(245, 245, 245);
  color: black;
  font-size: 14px;
  float: left;
}

#login-content #register-register {
  width: 100%;
  margin: auto;
}

#login-content a:hover {
  border-bottom: 4px solid purple;
  color: purple;
}

#login-content button {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 14px 16px;
  width: 50%;
  margin: auto;
  background-color: rgb(245, 245, 245);
  color: black;
  font-size: 14px;
  float: left;
}
#login-content button:hover {
  border-bottom: 4px solid purple;
  color: purple;
}
