* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

*, *::before, *::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box; 
  }
 
#header {
  z-index: 1;
  height: auto;
  top: 0;
  width: 100%;
  padding: 14px 16px;
  display: inline-flex;
  background-color: black;
  font-family: 'Lato', san-serif;
  text-align: center; 
  font-size: 25px;
}

.topnav {
  position: relative;
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #eddddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

#menu-hidden {
  z-index: 2;
  text-align: center;
  display: flex;
  color: #eddddd;
  height: auto;
  top: 0px;
  padding: 14px 16px;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  background-color: black;
  font-family: 'Lato', san-serif;
  font-size: 15px;
}

#menu-hidden a {
  padding: 14px;
  background-color: black;
  color: #eddddd;
  text-decoration: none;
}

#menu-hidden a:hover {
  color: purple;
}

#content {
  z-index: 100;
  overflow: visible;
  top: 0;
  height: 100vh;
  padding: 14px 16px;
  color:  #eddddd;
  font-family: 'Lato', san-serif;
  font-size: 17px;
  background-color: #0a0a0a;
}
#content h1 {
  text-align: center;
  padding: 40px 20px;
}

#copyright {
  z-index: 100;
  padding: 14px 16px;
  font-family: 'Lato', san-serif;
  text-align: center; 
  font-size: 15px;
  color:  #eddddd;
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: 0vc;
}


