* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}
*, *::before, *::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box; 
  }

#header {
  padding: 14px 16px;
  background-color: black;
  font-family: 'Lato', san-serif;
  text-align: center; 
  font-size: 25px;
}
#title {
  text-align: center;
}
#copyright {
  text-align: center;
  font-size: 25px;
  color: white;
  background-color: black;
  float: left;
  position: absolute;
  width: 100%;
}
